body {
    background-color: rgb(255, 255, 255);;
}

h3 {
    text-align: center;
}

div {
    text-align: center;
}

input {
    margin-left: 30px;
}

a {
    margin-left: 30px;
}

canvas {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    margin-left:0px;
    border: 1px solid #2a1baf;
}

.rowsText {
    margin-left: 400;
}

.percentText {
    margin-left: 65;
}

.speedText {
    margin-left: 80;
}

.pathText {
    margin-left: 50;
}
